.body{
  margin: 5px;
  border: solid 8px rgb(134, 107, 49);
  border-radius: 8px;
}
.cartel{
  border: solid 1px rgb(134, 107, 49);
  margin: 5px;
  p{
    font-style: italic;
    font-weight: 500;
  }
}
.img-cartel{
  margin: 5px 0;
  img{
    width: auto;
    height: 100px;
  }
}
